/********
 * #Base *
 ********/

	/**************************
	 * Reset (Eric Meyer 2.0) *
	 **************************/
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		
		
		/*******************
		 * Mobilaurus Base *
		 *******************/
		 
		html {
			min-height: 100%;
			height: 100%;
			-webkit-font-smoothing: antialiased; 
		}
		
		body {
			min-height: 100%;
			height: 100%;
		}
		
		body {
		
			/* background gradient - can edit here: http://www.colorzilla.com/gradient-editor/#92a5af+0,8fa3a7+30,c6d4cd+76,cdd3c3+100;Custom */	
			background: #92a5af; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTJhNWFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjOGZhM2E3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzYlIiBzdG9wLWNvbG9yPSIjYzZkNGNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkZDNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  #92a5af 0%, #8fa3a7 30%, #c6d4cd 76%, #cdd3c3 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#92a5af), color-stop(30%,#8fa3a7), color-stop(76%,#c6d4cd), color-stop(100%,#cdd3c3)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #92a5af 0%,#8fa3a7 30%,#c6d4cd 76%,#cdd3c3 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #92a5af 0%,#8fa3a7 30%,#c6d4cd 76%,#cdd3c3 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #92a5af 0%,#8fa3a7 30%,#c6d4cd 76%,#cdd3c3 100%); /* IE10+ */
			background: linear-gradient(135deg,  #92a5af 0%,#8fa3a7 30%,#c6d4cd 76%,#cdd3c3 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92a5af', endColorstr='#cdd3c3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
			
			background-attachment:fixed;
			height:100%;
		}
		
		a {
			color: white;
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
			cursor: pointer;
		}
		
		#wrapper {
			height: 99%;
		}
		
		h1, h2 {
	 		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	 		font-weight: lighter;
	 		color: white;
	 	}
		
				 
/***********
 * #Layout *
 ***********/
	/************************
	 * #Layout smartphones  *
	 * single column        *
	 ************************/
			.l-main {
				width: 100%;				
				clear: both;
				padding-bottom: 3em;
			}
			
			.l-nav {
				width: 100%;
			}
	
	
			.l-center {
	 			text-align: center;
	 			margin: 0 auto;
	 		}
		
	/*******************************
	 * #Layout tablets and desktop *
	 * 2 column layout             *
	 *******************************/
		@media screen and (min-width: 480px) {	
			.l-main {
				float: left;
				width: 69%;
				height: 100%;
				clear: none;
				padding-bottom: 0;
			}
			
			.l-nav {
				float: right;
				width: 30%;
				height: 100%;
			}
	
	
			.l-center {
	 			text-align: center;
	 			margin: 0 auto;
	 		}
	 	}

 		
/***********************
 * #Nav module         *
 ***********************/
 		
	
	/********************************
	 * #Nav smartphones             *
	 * render nav as collapsed menu *
	 ********************************/
	 
	 	header {
	 		padding-top: 1em;
	 		float: left;
	 		width: 65%;
	 	}
	 	
	 	.logo {
  			width: 80%;
 		}
 		
 		.nav-mobile-menu {
 			width: auto;
 			display: inline-block;
 			position: fixed;
 			right: 0px;
 			z-index: 100;
 		}
 		
 		.nav-mobile-menu img {
 			width: 3.5em;
 			height: auto;
 			float: right;
 			cursor: pointer;
 			margin-top: .5em;
 			margin-right: .5em;
 		}
	 	
	 	.nav-menu {
	 		display: none;
			width: 75%;
			background-color: #181D2E;
			float: right;
			position: fixed;
			right: 0;
			z-index: 101;
	 	}
	 	
	 	.nav-menu a {
	 		text-decoration: none;
	 	}
	 	
	 	.nav-link-border {
	 		padding-top: 1.3em;
	 		padding-bottom: 1.3em;
	 		font-size: 1.5em;
	 		border-top: .1em solid white;
	 		font-weight: lighter;
	 	}
	 	
	
	/*******************************
	 * #Nav tablets                *
	 * render nav links as circles *
	 *******************************/
		
		@media screen and (min-width: 480px) {
			.nav-menu {
		 		display: block;
		 		padding-top: 10%;
				width: 40%;
		 		background-color: transparent;
		 		float: none;
		 		margin-top: 0;
		 		position: relative;
		 	}
			
			.nav-mobile-menu {
				display: none;
			}
		
			header {
	 			padding-top: 3em;
	 			width: 100%;
	 			float: none;
	 		}
						
			.nav-link-border {
				padding-top: 0;
		 		padding-bottom: 0;
		 		font-size: 1em;
				border: 1px solid #3A3D50;
				width: 5em;
				height: 5em;
				line-height: 5em;
				border-radius: 50%;
	    		-moz-border-radius: 50%;
	    		-webkit-border-radius: 50%;
	    		-khtml-border-radius: 50%;
	    		background-color: transparent;
	    		margin-top: 1em;
	    		transition: all 0.15s ease;
	    		-webkit-transform: translate3d(0,0,0); /* solves Chrome rendering artifact with transitions */
	    		behavior: url(PIE.php);
	    		position: relative;
			}
			
			.active-link {
				border-color: #BDBDBD;
				color: black;
			}
		
			.nav-link-border:hover {
				border-color: #384661; 
				-webkit-box-shadow: inset 0 0 .45em #566B96, 0 0 .45em #566B96;
				-moz-box-shadow: inset 0 0 .45em #566B96, 0 0 .45em #566B96;
				box-shadow: inset 0 0 .45em #566B96, 0 0 .45em #566B96;
				color: black;
				background-color: transparent;
			}
			
			.nav-link {
				display: block;
				text-decoration: none;
				color: #3A3D50;
				font-size: 1.05em;
				font-weight: lighter;
			}
		
			.logo {
	  			width: 12em;
	  			max-width: 100%;
	 		}
		}
		
		
	/*******************************
	 * #Nav desktop                *
	 * render larger nav links     *
	 *******************************/		
		@media screen and (min-width: 800px) {
			.nav-link-border {
				width: 6em;
				height: 6em;
				line-height: 6em;
				margin-top: 1em;
			}
			
			.nav-link {
				font-size: 1.25em;
			}
		}
	
	
		
/************************************************
 * #Clearfix module: 							
 *												
 * Apply the .clearfix class to any parent		
 * element that is collapsing because it 		
 * contains only floated elements 				
 ************************************************/

		.clearfix:before, .clearfix:after {
			content: "";
			display: table;
		}
		
		.clearfix:after {
			clear: both;
		}
		
		.clearfix {
			*zoom: 1;
		}
		
		

/***********************
 * #Content module     *
 ***********************/
	/********************************
	 * #Content smartphones         *
	 * render nav as collapsed menu *
	 ********************************/
 		h1 {
 			text-align: left;
 			font-size: 3em;
 			margin-bottom: .5em;
 		}
 		
 		.content {
 			width: 85%;
 			padding-top: 2em;
 			text-align: left;
 		}
 		
 		.text-section {
 			margin-bottom: 4em;
 		}
 		
 		.text-box {
	 		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	 		color: white;
	 		font-weight: lighter;
			background-color: #839290;
			-webkit-border-radius: .3em;
			-moz-border-radius: .3em;
			border-radius: .3em;
			padding: 1.2em;
			text-align: left;
			line-height: 2em;
			position: relative;
			clear: left;
			width: 100%;
			box-sizing: border-box;
	 	}
	 	
	 	.white-text-divider {
	 		border-top: 1px solid white;
	 	}
	 	
	 	h2 {
	 		font-size: 1.75em;
	 		padding-top: .4em;
	 		padding-bottom: .4em;
	 		width: 30%;
	 	}
	 	
	 	.text-box a {
	 		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	 	}
	 	
 	/*******************************
	 * #Content tablets            *
	 * render nav links as circles *
	 *******************************/
	 @media screen and (min-width: 480px) {
	 	h1 {
	 		font-size: 4em;	
	 	}
	 	
	 	h2 {
	 		font-size: 2em;
	 		float: left;
			padding-top: .4em;
			padding-bottom: .4em;
	 	}
	 	 	
	 	.content {
	 		width: 80%;
	 		position: relative;
	 		left: 2%;
	 		padding-top: 2.5em;
	 		padding-bottom: 2em;
	 	}
	 		
	 	.text-section {
	 		width: 100%;
			margin-bottom: 6em;
	 		clear: both; 	
	 	}
	 	
	 }
	 
	 
	/*******************************
	 * #Content desktop            *
	 * render larger nav links     *
	 *******************************/
	 @media screen and (min-width: 800px) {
	 	.text-box {
	 		float: right;
	 		clear: none;
	 		width: 62%;
	 	}	
	 	
	 	h1 {
	 		font-size: 4.5em;
	 	}
	 	
	 	.h1-line2 {
	 		margin-left: 30%;
	 	}
	 	
	 	.h1-line3 {
	 		margin-left: 40%;
	 		min-width: 5em;	 		
	 	}
	 	
	 	.h1-line4 {
	 		text-align: right;
	 	}
	 }
	 
	 